bleach==2.0.0
certifi==2017.4.17
chardet==3.0.3
click==6.7
dj-database-url==0.4.2
Django==1.11.2
docutils==0.13.1
Flask==0.12.2
html5lib==0.999999999
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
psycopg2==2.7.1
Pygments==2.2.0
python-dotenv==0.6.4
pytz==2017.2
PyYAML==3.12
readme-renderer==17.2
requests==2.17.3
restview==2.7.0
six==1.10.0
urllib3==1.21.1
webencodings==0.5.1
Werkzeug==0.12.2
