{% extends '_base.html' %}

{% block title %}排行榜 – PyCon Taiwan 猜謎機器人{% endblock title %}


{% block main %}

<h1>排行榜</h1>

<table class="leaderboard-table">
	<thead>
		<tr>
			<th>#</th>
			<th>分數</th>
			<th>暱稱</th>
			<th>序號</th>
		</tr>
	</thead>
	<tbody>
		{% for leader in leader_gen %}
		<tr class="{% if leader.user.is_hall_of_famer() %}hof-row{% endif %}">
			<th class="ranking-column">
				{% if leader.user.is_hall_of_famer() %}
				<span class="fa fa-trophy" aria-hidden="true"></span>
				{% else %}
				{{ leader.ranking }}
				{% endif %}
			</th>
			<td>{{ leader.score }}</td>
			<td>{{ leader.registration.nickname }}</td>
			<td>{{ leader.user.serial }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock main %}
